<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAd7IP_MzfUY0pC8In98czd5OTEk4vsDDA</string>
	<key>GCM_SENDER_ID</key>
	<string>855134274675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gardenguru.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gardenguru-36f81</string>
	<key>STORAGE_BUCKET</key>
	<string>gardenguru-36f81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855134274675:ios:f0beb77e01330f492f5606</string>
	<key>DATABASE_URL</key>
	<string>https://gardenguru-36f81-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>